# TODO: Añadir URL de App Store cuando esté disponible
# VITE_APP_STORE_URL=https://apps.apple.com/app/rutinas/...

# TODO: Añadir URL de Google Play cuando esté disponible
# VITE_PLAY_STORE_URL=https://play.google.com/store/apps/details?id=...

# TODO: Añadir endpoint de API si se conecta backend
# VITE_API_URL=https://api.rutinas.app